#list {
   // border: 1px solid grey;
    width: 23%;
}

.item {
    border: 1px solid grey;
	border-radius:4px;
	padding: 4px 10px;
	width: 50%;
	background-color:#C1F3FF;
}

img {
	cursor: pointer;
	margin-left: 5px;
	float:right;
}

.txt {
    display: inline;
}

.done {
	text-decoration: line-through;
}
